.header {
  background-color: rgb(43, 46, 55);
  height: 75px;
  line-height: 75px;
}

.header_title {
  color: #fff;
  font-size: 45px;
  text-align: center;
  margin: 0;
  vertical-align: middle;
}

.searchbar {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.search_input {
  border: 0.1px solid #999;
  width: 50%;
  height: 30px;
  padding: 0;
  vertical-align: middle;
}

.search_submit {
  cursor: default;
  vertical-align: middle;
  background-color: #999; /* Green */
  border: 0.1px solid #999;
  color: white;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}

.foo {
  display: block;
  text-align: center;
  font-size: 20px;
}

.movie_frame {
  width: 300px;
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

.movie_title {
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie_poster {
  height:400px;
}

.search_result {
  display:block;
  margin-top: 16px;
  /* float: left; */
}

.search_result > ul {
  margin: 0 auto;
  padding: 0;
  width: 1600px;
  list-style: none;
}

@media screen and (max-width: 660px) { .search_result > ul { width: 320px; } }
@media screen and (min-width: 661px) and (max-width: 980px) { .search_result > ul { width: 640px; } }
@media screen and (min-width: 981px) and (max-width: 1300px) { .search_result > ul { width: 960px;  } }
@media screen and (min-width: 1301px) and (max-width: 1620px) { .search_result > ul { width: 1280px; } }
@media screen and (min-width: 1621px) and (max-width: 1980px) { .search_result > ul { width: 1600px; } }